@import "tailwindcss";

@layer components {
  .tag {
    @apply px-3 py-1 text-white rounded-full cursor-pointer shadow-sm hover:scale-105 duration-300 transition-transform;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Andale Mono, monospace;
  transition: background 0.3s ease, color 0.3s ease;
}
